ppf_mobile_client
ppf-route-api
ppf-user-api
ppf-payments-api
ppf-chat-engine
ppf-admin-page

/db
/.pyvenv
/.ppf
/.venv
/.mypy_cache
/ppf/build
/ppf/ppf.egg-info
/.env.dev
/.env.debug
__pycache__
.env.debug
.env.dev
ppf/common/migrations/*_*.py