[submodule "ppf-route-api"]
	path = ppf-route-api
	url = https://github.com/pes2324q2-gei-upc/ppf-route-api.git
[submodule "ppf-user-api"]
	path = ppf-user-api
	url = https://github.com/pes2324q2-gei-upc/ppf-user-api.git
[submodule "ppf-admin-page"]
	path = ppf-admin-page
	url = https://github.com/pes2324q2-gei-upc/ppf-admin-page.git
[submodule "ppf-payments-api"]
    path = ppf-payments-api
    url = https://github.com/pes2324q2-gei-upc/ppf-payments-api.git
[submodule "ppf-chat-engine"]
	path = ppf-chat-engine
	url = https://github.com/pes2324q2-gei-upc/ppf-chat-engine.git
[submodule "ppf_mobile_client"]
	path = ppf_mobile_client
	url = https://github.com/pes2324q2-gei-upc/ppf_mobile_client.git
